<h1><%= @list.title %></h1>
<% @items.each do |item| %>
 <p><%= link_to item.title, list_item_path(@list, item) %> | <%= link_to "Delete", list_item_path(@list, item), method: :delete %></p>
<% end %>
<h3>Collaborators</h3>
<% @list.collaborations.each do |collaboration| %>
    <%= collaboration.user.username %> | <%= link_to "Remove", list_collaboration_path(@list, collaboration), method: :delete %>
  <br>
<% end %>

<hr>
<h3>Add Item</h3>
<%= form_for [@list, @item] do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>

<% if policy(@list).add_collaborators? %>
  <h3>Add Collaborator</h3>
  <%= form_for [@list, @collaboration] do |f| %>
      <%= label_tag "Enter collaborator username" %>
      <%= text_field_tag :username, nil, data: {users_source: users_path} %>
      <%= f.submit "Add collaborator" %>
  <% end %>
<% end %>

<%= link_to "Back to lists", user_path(current_user) %>
