<%= render partial: 'shared/main_nav' %>
<div class="uk-grid">
  <section class="uk-width-medium-3-4 uk-margin-large-top">
    <div class="uk-container">
      <div id="stats-panel">
        <div class="uk-grid uk-grid-collapse">
          <div class="uk-width-medium-1-3">
            <section id="lissts">
              <div class="stats-panel-heading">
                <h3>Total Lissts <i class="uk-icon-question-circle uk-float-right cursor-default" style="padding-top: 5px;" data-uk-tooltip="{animation: true}" title="Only includes your own lissts."></i></h3>
              </div>
              <div class="stats-panel-body">
                <p><%= @lists.count %> <%= "Lisst".pluralize(@lists.count) %></p>
              </div>
              <div class="stats-panel-footer">
                <ul class="uk-grid uk-grid-width-1-2">
                  <li>
                    <%= @lists.count %>
                  </li>
                </ul>
              </div>
            </section>
          </div>
          <div class="uk-width-medium-1-3">
            <section id="items">
              <div class="stats-panel-heading">
                <h3>Total Lisst Items <i class="uk-icon-question-circle uk-float-right cursor-default" style="padding-top: 5px;" data-uk-tooltip="{animation: true}" title="Only includes items from your own lissts."></i></h3>
              </div>
              <div class="stats-panel-body">
                <p><%= @user.items.count %> <%= "Item".pluralize(@user.items.count) %></p>
              </div>
              <div class="stats-panel-footer">
                <ul class="uk-grid uk-grid-width-1-2">
                  <li>
                    <span class="uk-margin-small-right completed_green"><strong><%= @user.items.complete.count %></strong> <small>complete</small></span>
                    <span class="uk-margin-small-left uk-text-danger"><strong><%= @user.items.incomplete.count %></strong> <small>incomplete</small></span>
                  </li>
                  <li class="uk-text-right">
                    <p class="stats-panel-percent"><%= @user.user_items_complete %>%</p>
                  </li>
                </ul>
              </div>
            </section>
          </div>
          <div class="uk-width-medium-1-3">
            <section id="categories">
              <div class="stats-panel-heading">
                <h3>Category Breakdown</h3>
              </div>
              <div class="stats-panel-body">
                <p><%= @user.items.count %> <%= "Item".pluralize(@user.items.count) %></p>
              </div>
              <div class="stats-panel-footer">
                <ul class="uk-grid uk-grid-width-1-2">
                  <li>
                    <p><%= @lists.count %></p>
                  </li>
                </ul>
              </div>
            </section>
          </div>
        </div>
      </div>
      <hr class="uk-grid-divider">
      <div class="uk-grid uk-grid-small uk-grid-match uk-margin-top-remove" data-uk-grid-match="{target:'.uk-panel'}">
        <% @lists.each do |list| %>
          <article class="uk-width-medium-1-3 uk-margin-bottom">
            <div class="uk-panel uk-panel-box uk-panel-box-secondary lisst">
              <div class="uk-panel-badge">
                <div data-uk-dropdown="{mode: 'click', pos: 'left-top'}" class="cursor-pointer uk-margin-small-top">
                  <i class="uk-icon-cogs uk-text-muted"></i>
                  <div class="uk-dropdown dropdown-actions uk-dropdown-small uk-dropdown-bottom">
                    <ul class="uk-nav uk-nav-dropdown">
                      <li><%= link_to "View list", list_path(list) %></li>
                      <li><%= link_to "Edit list", edit_list_path(list) %></li>
                      <li class="uk-nav-divider"></li>
                      <li><%= link_to "Delete List", list_path(list), method: :delete %></li>
                    </ul>
                  </div>
                </div>
              </div>
              <h3 class="uk-panel-title">
                <%= link_to list.title, list_path(list) %> <i class="uk-icon-<%= list.list_completed? %> uk-text-small <%= list.list_completed_color %> uk-text-bold"></i>
                <small class="uk-display-block uk-text-small">Created: <%= list.created_at.strftime("%x") %> &bull; Recipe</small>
              </h3>
              <div class="lisst-description">
                <% if list.description.present? %>
                  <p><%= truncate(list.description, length: 100) %> <%= link_to "More", list_path(list) %></p>
                <% else %>
                   <p>No description.
                      <%= link_to edit_list_path(list) do %>
                        <i class="uk-icon-plus"></i> Add description
                      <% end %>
                   </p>
                <% end %>
              </div>
              <div class="lisst-stats">
                <div class="uk-grid uk-margin-small-bottom">
                  <div class="uk-width-1-3 lisst-items">
                    <strong class="uk-text-center"><%= list.items.count %></strong>
                    <small><%= "item".pluralize(list.items.count) %></small>
                  </div>
                  <div class="uk-width-1-3 complete">
                    <strong class="uk-text-center"><%= list.items.complete.count %></strong>
                    <small>Complete</small>
                  </div>
                  <div class="uk-width-1-3 incomplete">
                    <strong class="uk-text-center"><%= list.items.incomplete.count %></strong>
                    <small >incomplete</small>
                  </div>
                </div>
                <div class="uk-grid uk-grid-small uk-margin-top-remove">
                  <div class="uk-width-5-6">
                    <div class="uk-progress uk-progress-mini uk-margin-top">
                      <div class="uk-progress-bar" style="width: <%= list.list_percentage_complete %>%"></div>
                    </div>
                  </div>
                  <div class="uk-width-1-6" style="margin-top: 10px;">
                    <p><%= list.list_percentage_complete %>%</p>
                  </div>
                </div>
              </div>
              <% if list.collaborations.any? %>
              <p class="uk-display-inline">Team:</p>
                <% list.collaborations.each do |collaboration| %>
                  <%= image_tag(collaboration.user.user_photo.autocomplete.url, class: "uk-border-circle", data: {uk_tooltip: "animation: true"}, title: "#{collaboration.user.username}") %>
                <% end %>
              <% else %>
                <p>No team members</p>
              <% end %>
            </div>
          </article>
        <% end %>
      </div>
    </div>
  </section>
  <section class="uk-width-medium-1-4">
    <div class="uk-container">
      <h2>Lissts</h2>
      <% @collab_lists.each do |collab_list| %>
        <p>
          <%= link_to collab_list.title, list_path(collab_list) %> | Owner: <%= collab_list.user.username %>
        </p>
      <% end %>
    </div>
  </section>
</div>
