<h1><%= @item.title %></h1>
<div>
  <% @item_subtasks.each do |subtask| %>
  <li><%= subtask.name %></li>
  <% end %>
</div>
<div>
  <%= form_for [@list, @item] do |f| %>
    <div class="add_fields">
      <%= f.fields_for :subtasks do |subtask| %>
        <%= render 'subtask_fields', f: subtask %>
      <% end %>
    </div>
    <div class='links'>
      <%= link_to_add_association f, :subtasks do %>
         Add Subtask
      <% end %>
    </div>
    <div>
      <%= f.submit %>
    </div>
  <% end %>
</div>

<%= link_to "Back to list", list_path(@list) %>