<h1><%= @item.title %></h1>
<p><%= @item.description %></p>
<div>
  <% @item_subtasks.each do |subtask| %>
  <li>
    <%= subtask.name %>
  </li>
  <% end %>
</div>
<div>
  <%= form_for [@list, @item] do |f| %>
    <div class="add_fields">
      <%= f.fields_for :subtasks do |subtask| %>
        <%= render 'subtask_fields', f: subtask %>
      <% end %>
    </div>
    <div class='links'>
      <%= link_to_add_association "Add", f, :subtasks %>
    </div>
    <div>
      <%= f.submit %>
    </div>
  <% end %>
</div>

<p><%= link_to "Back to list", list_path(@list) %><p>
<p><%= @user.email %><p>